* {
  /*cmt Thoai: To size box (width,height) = content+padding+border */
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1b4c;

  /*cmt Thoai: 1rem = 10px */
  font-size: 62.5%;
}
body {
  /*cmt Thoai: 16px */
  font-size: 1.6rem;
  /*cmt Thoai: embed local */
  font-family: Poppins, sans-serif;
}

/* Common  */
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  text-align: center;
  min-width: 98px;
  padding: 18px 16px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 12px;
  background: var(--primary-color);
}
.btn:hover {
  opacity: 0.9;
}
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Header */
.header {
  /*cmt Thoai: 100% viewport height */
  position: relative;
  height: 100vh;
  background-color: #e6f0ff;
}
.navbar {
  display: flex;
  align-items: center;
  /* margin-top: 38px; margin collase */
  /* cmt Thoai: To prevent margin collapse */
  padding-top: 38px;
}
.navbar ul {
  display: flex;
  margin-left: calc(64.47px - 15px);
}
.navbar ul a {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px 15px;
}
.navbar ul a:hover {
  text-decoration: underline;
}
.navbar .action {
  margin-left: auto;
}
.navbar .action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}
.navbar .btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}
/* ======Hero===== */
.hero .info {
  margin-top: 138px;
  width: 50.36%;
}
.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  letter-spacing: 0.018rem;
  font-weight: 500;
}
.hero .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.3rem;
  font-weight: 700;
  line-height: 1.1875;
}
.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77778; /* 177.778% */
}
.hero .btn {
  margin-top: 40px;
  font-size: 1.3rem;
  min-width: 170px;
}

.hero-img {
  position: absolute;
  bottom: 0vh;
  right: calc((100vw - 1110px) / 2 - 100px);
}
/* Clients */
.clients {
  margin-top: 79px;
  padding: 43px 0 41px;
}
.clients .row {
  display: flex;
  justify-content: space-between;
}
.row p {
  color: #7d8589;
  font-size: 1.6rem;
  line-height: 1.25; /* 125% */
}
.row:nth-child(2) {
  margin-top: 23px;
}
.clients .img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.clients .img a {
  display: flex;
  align-items: center;
  height: 91px;
  padding: 0 42px;
  border-radius: 12px;
}
.clients .img a:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
/* Guide */
.guides {
  margin-top: 40px;
  padding: 79px 0;
}
.guides .sub-title {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  /* line-height: 1; 100% */
}
.guides .sub-title::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%); /*cmt Thoai: center the line */
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}
.guides .desc {
  max-width: 459px;
  margin: 20px auto 0;
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
}
.list-guides {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.list-item {
  text-align: center;
  margin: 0 70px;
}
.list-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  line-height: 1.1; /* 110% */
}
.list-item span {
  display: inline-block;
  margin-top: 10px;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
}
.guides-cta {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.guides-cta .btn {
  min-width: 170px;
}
/* ========Feature ============*/
.feature {
  margin-top: 41px;
  padding: 110px 0;
}
.feature .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}
.feature .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.feature .desc {
  max-width: 407px;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
}
.feature .link {
  display: flex;
  align-items: center;
  color: #0689ff;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 600;
}
.feature .arrow {
  margin-left: 8px;
}
.feature .list {
  display: flex;
  margin-top: 70px;
  gap: 30px;
}
.feature .item {
  flex: 1;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
}
.feature .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
}
.feature .item .body {
  padding: 17px 20px 24px;
}
.feature .title a {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem; /* 100% */
}
.feature .list .desc {
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  word-break: break-all;
}
.feature .list .info {
  margin-top: 22px;
  display: flex;
  align-items: center;
}
.feature .list .label {
  margin-left: 8px;
  color: #4d4d52;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem; /* 100% */
  letter-spacing: 0.014rem;
}
.feature .list .icon {
  margin-left: 22.7px;
}
.feature .list .icon:first-child {
  margin-left: 0;
}
/* =========Stats=========== */
.stats {
  margin-top: 75px;
  padding: 50px 0;
}
.stats .content {
  width: 1048px;
}
.stats .row {
  display: flex;
}
.stats .img-block,
.stats .info {
  width: 50%;
}
.stats .img-block {
  position: relative;
}
.stats .info {
  padding: 79px 0 0 165px;
}
.stats .img-block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}
.stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  width: 239px;
  /* min-height: 252px; */
  padding: 45px 22px 40px;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
  box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}
.stats-trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.026rem;
}
.stats-trend .icon {
  margin-left: auto;
}
.stats-trend .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}
.stats-trend .separate {
  height: 1px;
  background: #e9e9e9;
}
.stats .avatar-block {
  margin-top: 20px;
  display: flex;
  gap: 16px 14px;
  flex-wrap: wrap;
}
.avatar-block .avatar-group {
  display: flex;
}
.stats .avatar {
  width: 16px;
  height: 16px;
  margin-left: -3px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #1f3bb1;
  color: #fff;
  line-height: 2;
  text-align: center;
  font-size: 0.7261rem;
  font-weight: 450;
  letter-spacing: -0.0145rem;
}
.stats .avatar:first-child {
  margin-left: 0;
}
.stats .sub-title {
  position: relative;
  color: #000339;
  /* text-align: justify; */
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.28571; /* 128.571% */
}
.stats .sub-title::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 0;
  border-radius: 12px;
  background: #000339;
  width: 41px;
  height: 4px;
}
.stats .info .desc {
  text-align: justify;
  margin-top: 20px;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
}
.stats .row-qty {
  margin-top: 110px;
  justify-content: space-between;
  padding: 0 32px;
}
.stats .qty-item {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
}
.stats .qty-desc {
  margin-top: 22px;
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
}
/* ========Subscription ======*/
.subscription {
  margin-top: 90px;
}
.subscription .body {
  position: relative;
  display: flex;
  align-items: center;
  height: 370px;
  border-radius: 20px;
  background: #063183;
}
.subscription .info {
  width: 671px;
  max-width: 100%;
  padding: 0 80px;
}
.subscription .subtitle {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
}
.subscription .desc {
  margin-top: 15px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
  opacity: 0.75;
}
.subscription .btn {
  min-width: 151px;
  height: 50px;
  border-radius: 12px;
  background: #fff;
  margin-top: 20px;
  color: #002366;
  font-size: 1.3rem;
}
.subscription .image {
  /* width: 197.056px;
  height: 418.568px; */
  position: absolute;
  bottom: 0;
  right: 221px;
}
/* Footder */
.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}
.footer .row {
  display: flex;
}
.footer .top-row {
  gap: 185px;
}
.footer .heading {
  color: #1c1c1d;
  font-family: Lato;
  font-size: 2rem;
  font-weight: 700;
}
.footer .list {
  margin-top: 42px;
}
.footer .item {
  margin-top: 18px;
}
.footer .item a,
.footer .desc {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  white-space: nowrap;
}

.footer .desc {
  padding: 40px 0;
  /* width: 257px; */
  line-height: 1.75; /* 175% */
  white-space: normal;
}

.footer .social {
  display: flex;
  width: 117px;
  justify-content: space-between;
}
.footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28.47px;
  width: 28.47px;
  border-radius: 3px;
}
.footer .social-link:hover {
  background: #ebebeb;
}
.footer .bottom-row {
  margin-top: 81px;
  justify-content: space-between;
  align-items: center;
}
